@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Roboto:wght@400;500;700&display=swap');


body {
	display: flex;
	flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
	background-color: lightgray;
	box-sizing: border-box;
  }

  body > :not(:first-child) {
	flex: 1;
  }

h1 {
	background-image: radial-gradient(#0097ff, #0c74c4);
	color: white;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.534);
	border-radius: 10px;
	height: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Pixelify Sans';
	font-size: 40px;
	text-shadow: 1px 2px 6px black;
	margin-top: 10px;
}


h2 {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family:  'Pixelify Sans';
	font-size: 30px;
	background: linear-gradient(to right, rgba(0, 168, 253), #fff 35%, #e00a95, #fff, rgb(3, 248, 3), blue, #fff, red, #fff,yellow,#fff, black,#fff, gray, #fff,blue,#fff);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 5s linear infinite;

}


#color-palette {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

  .color {
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.534);
	border-radius: 50% 10% 50% 10%/ 10% 50% 10% 50%;
	margin: 10px;
	border: 1px solid black;
	display: inline-block;
	width: 60px;
	height: 60px;

  }

  #pixel-board {
	margin-top: 30px;
	border-color: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
  }

  .pixel {
	border: 1px solid black;
	width: 40px;
	height: 40px;
	background-color: white;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.534);
  }
  
  button#clear-board {
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.534);
	border-radius:50% 10% 50% 10%;
	background-color: blue;
	color: #fff;
	/* margin-left: 40.5%; */
	/* width: 250px; */
	font-weight: 700;
  }

  input#board-size {
	text-align: center;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.534);
	border-radius:  5px;
	background-color: yellow;
	/* margin-left: 40.5%;
	width: 242px; */
	font-weight: 700;
  }

  button#button-random-color {
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.534);
	border-radius: 50% 10% 50% 10%;
	background-color: rgb(255, 0, 0);
	color: #fff;
	/* margin-left: 40.5%;
	width: 250px; */
	font-weight: 700;
  }

  button#generate-board {
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.534);
	border-radius: 50% 10% 50% 10%;
	/* margin-left: 40.5%;
	width: 250px; */
	background-color: #000;
	color: #fff;
	font-weight: 700;
  }

  @keyframes gradient {
	0% {
		background-position: 0% 75%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 70%;
	}
}
